 {% extends 'base.html.twig' %}
 {% block title %}Страница поиска  {% endblock %}
 {% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/search.css') }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/search.js') }}"></script>
{% endblock %}

{% block body %}
<div class = "container">
    <div class = "searchForm mt-5"> 
        <div class="form-row">
            <div class="form-group col-md-12">
            <label for="inputHouseName">Название дома</label>
            <input type="text" class="form-control" id="inputHouseName" placeholder="Имя дома">
            </div>
        </div>
        <div class = "form-row"> 
            <div class="form-group col-md-3">
                <select id="inputBedrooms" class="form-control">
                    <option value="#" selected>Количество кроватей</option>
                    {% for i in 0..10 %}
                        <option value="{{i}}">{{i}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-3">
                <select id="inputBathrooms" class="form-control">
                    <option value="#" selected>Количество ванных комнат</option>
                    {% for i in 0..5 %}
                        <option value="{{i}}">{{i}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-3">
                <select id="inputGarages" class="form-control">
                    <option value="#" selected>Количество гаражей</option>
                    {% for i in 0..4 %}
                        <option value="{{i}}">{{i}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-3">
                <select id="inputStoreys" class="form-control">
                    <option value="#" selected>Количество этажей</option>
                    {% for i in 0..5 %}
                        <option value="{{i}}">{{i}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class = "form-row"> 
            <div class="form-group col-md-4">
                <label for="inputCostMin">Цена от</label>
                <input type="text" class="form-control" id="inputCostMin" placeholder="От">
            </div>
            <div class="form-group col-md-4">
                <label for="inputCostMax">Цена до</label>
                <input type="text" class="form-control" id="inputCostMax" placeholder="До">
            </div>
        </div>
        <button id="searchButton" class="btn btn-primary">Поиск</button>
    </div>
    <div class="card-deck mb-5">
        {% for house in houses %}
            {% if loop.index % 3 == 1 %}
                <div class="row">
            {% endif %}
            <div class="card mt-5">
                <img class="card-img-top" src="{{ asset('img/house.jpg') }}" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">{{ house.name }}</h5>
                <p class="card-text">Кроватей: {{ house.bedrooms }} шт <br> Ванных комнат: {{ house.bathrooms }} шт <br> 
                Этажность: {{ house.storeys }} шт <br> Гаражей: {{ house.garages }} шт</p>
                <p class="card-text">Цена: {{ house.price }} у.е.</p>
                </div>
            </div>
            {% if loop.index % 3 == 0 or loop.last %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
  {% endblock %}